/**
Adapted from https://github.com/argyleink/gui-challenges/tree/main/color-palettes
*/

@import 'dist/main.css';
@layer demo.usage {
	h1 {
		font-size: 2rem;
		color: var(--ink);
	}
	small {
		color: var(--ink);
	}

	.shade {
		box-shadow: inset var(--shadow-inset-sm);
	}
}

@layer demo.palette {
	.palette {
		display: grid;
		grid-template-columns: auto auto auto;
		max-inline-size: fit-content;
	}
	.hue {
		display: grid;
		grid-auto-rows: 8vh;
		grid-template-columns: 8vw;
	}
	figure {
		display: flex;
		align-items: center;
		justify-content: var(--justify, center);
	}
}

@layer demo.card {
	.card {
		display: grid;
		/* gap: 1ch;
		border-radius: 10px;
		padding: 1rem; */
	}
}

@layer demo.support {
	* {
		box-sizing: border-box;
		margin: 0;
	}

	html {
		block-size: 100%;
		color-scheme: dark light;
	}

	body {
		min-block-size: 100%;
		font-family: system-ui, sans-serif;

		display: grid;
		place-content: center;
		gap: var(--gap);
		grid-auto-flow: column;
	}

	p {
		max-inline-size: 40ch;
	}

	article {
		display: grid;
		gap: 2ch;
		align-content: start;
	}
}
