.DS_Store
.svelte-kit
node_modules
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock

**/build
**/package
**/dist
**/playwright/.cache
**/playwright_report
