.DS_Store
.svelte-kit
node_modules
.env
.env.*
!.env.example

# Ignore Husky hooks
.husky/

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock

**/build
**/package
**/dist/
**/playwright/.cache
**/playwright_report
**/out/

## Generated code
packages/style/src/lib/css/variables/
packages/validation/src/ajv/out/
packages/ui/src/lib/generated/
packages/validation/src/ajv/out/validate.ajv.mjs
packages/validation/src/ajv/config/validate.config.mjs
