// Global CSS starts

:root {
	font-family: var(--font-family-body);
}

body {
	--current-size: var(--s0);
	--current-size-plus: var(--s1);
	--current-size-side: var(--s0);
	color: var(--current-color);
	background: var(--current-bg-color);
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-body);
	line-height: var(--line-height-body);
}

a {
	color: var(--current-primary);
	font-size: var(--font-size-ui);
	font-family: var(--font-family-ui);
	font-weight: var(--font-weight-ui);
}

a[class^='font:'] {
	color: var(--current-font-size);
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

:focus {
	outline: var(--outline-width) dotted var(--current-color);
	outline-offset: var(--outline-offset);
}
