@include theme-main();

// Global CSS starts

body {
	line-height: getVar(ratio);
	overflow-x: hidden;
	padding-bottom: getVar('600');
	font-weight: getVar('300');
	// @include apply-utility('weight', 'medium');
	@include cover();
}

h1,
h2,
h3 {
	line-height: 1.2;
}

h1 {
	font-size: getVar('700');
}

h2,
h3 {
	font-size: getVar('600');
}

a {
	// color: currentColor;

	color: getVar(play);
}

a {
	color: getVar(play);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: getVar(handles);
}

table {
	border-collapse: collapse;
}

th {
	text-align: left;
}

:focus {
	outline: 2px dotted;
	outline-offset: 0.25rem;
}
