/* Set current color SHADE according to current combination of:
 - lightness
 - chroma
 - hue
*/
[class*=':fill'] {
	--hue: var(--color-theme-primary);
	border-color: var(--ink);
}
[class*=':outline'] {
	--hue: var(--color-theme-accent);
	border-color: var(--ink);
}
[class*=':bare'] {
	--hue: var(--color-theme-highlight);
	border-color: var(--shade);
}
