@font-face {
    font-family: 'Trirong';
    src: url('Trirong-BlackItalic.woff2') format('woff2'),
        url('Trirong-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-Bold.woff2') format('woff2'),
        url('Trirong-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-Black.woff2') format('woff2'),
        url('Trirong-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-BoldItalic.woff2') format('woff2'),
        url('Trirong-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-LightItalic.woff2') format('woff2'),
        url('Trirong-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-Medium.woff2') format('woff2'),
        url('Trirong-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-ExtraLightItalic.woff2') format('woff2'),
        url('Trirong-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-Italic.woff2') format('woff2'),
        url('Trirong-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-Light.woff2') format('woff2'),
        url('Trirong-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-ExtraBold.woff2') format('woff2'),
        url('Trirong-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-ExtraLight.woff2') format('woff2'),
        url('Trirong-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-ExtraBoldItalic.woff2') format('woff2'),
        url('Trirong-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-Regular.woff2') format('woff2'),
        url('Trirong-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-SemiBoldItalic.woff2') format('woff2'),
        url('Trirong-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-MediumItalic.woff2') format('woff2'),
        url('Trirong-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-Thin.woff2') format('woff2'),
        url('Trirong-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-SemiBold.woff2') format('woff2'),
        url('Trirong-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trirong';
    src: url('Trirong-ThinItalic.woff2') format('woff2'),
        url('Trirong-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

