.l-sidebar {
	display: flex;
	flex-wrap: wrap;
}

.l-sidebar-main {
	flex-basis: 0;
	flex-grow: 999;
	// ~ min-width in horizontal-tb writing mode: if (width < 50%) -> wrap
	min-inline-size: 75%;
}

// adjusts to width of contents
.l-sidebar-side {
	flex-grow: 1;
}

.l-sidebar.xs > .l-sidebar-side {
	flex-basis: getVar(sidebar-width-xs);
}

.l-sidebar.sm > .l-sidebar-side {
	flex-basis: getVar(sidebar-width-sm);
}

.l-sidebar.md > .l-sidebar-side {
	flex-basis: getVar(sidebar-width-md);
}

.l-sidebar.lg > .l-sidebar-side {
	flex-basis: getVar(sidebar-width-lg);
}

.l-sidebar.xl > .l-sidebar-side {
	flex-basis: getVar(sidebar-width-xl);
}
