.l-sidebar {
	display: flex;
	flex-wrap: wrap;
	gap: getVar(gap);
}

.l-sidebar-main {
	flex-basis: 0;
	flex-grow: 999;
	// ~ min-width in horizontal-tb writing mode: if (width < 70%) -> wrap
	min-inline-size: 70%;
	gap: getVar(gap);
}

// adjusts to width of contents
.l-sidebar-side {
	flex-grow: 1;
}

.l-sidebar-side.shrink {
	flex-grow: 0;
	flex-basis: 0;
}

.l-sidebar-side.xs {
	flex-basis: getVar(sidebar-width-xs);
}

.l-sidebar-side.sm {
	flex-basis: getVar(sidebar-width-sm);
}

.l-sidebar-side.md {
	flex-basis: getVar(sidebar-width-md);
}

.l-sidebar-side.lg {
	flex-basis: getVar(sidebar-width-lg);
}

.l-sidebar-side.xl {
	flex-basis: getVar(sidebar-width-xl);
}

@include max-width(bp-md) {
	.l-sidebar-side.sm + .l-sidebar-main {
		min-inline-size: calc(100% - getVar(sidebar-width-sm));
		gap: calc(getVar(gap) / 2);
	}
}

@include min-width(bp-md) {
	.l-sidebar-main .layer {
		margin-block-start: getVar(margin-md);
	}
	.l-sidebar-side aside {
		padding: getVar(padding-md);
	}
}
