.l-square {
	display: flex;
	align-items: center;
	justify-content: center;
	width: getVar(s1);
	height: getVar(s1);
}

.l-square > * {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.l-square img,
.l-square .icon,
.l-square .emoji {
	width: getVar(s0); // 1.5 times less than container
	height: getVar(s0);
	object-fit: contain;
}

.l-square.xs {
	width: getVar(s1);
	height: getVar(s1);
	img,
	.icon,
	.emoji {
		width: getVar(s0);
		height: getVar(s0);
		font-size: getVar(s0);
	}
}
.l-square.sm {
	width: getVar(s2);
	height: getVar(s2);
	img,
	.icon,
	.emoji {
		width: getVar(s1);
		height: getVar(s1);
		font-size: getVar(s1);
	}
}
.l-square.md {
	width: getVar(s3);
	height: getVar(s3);
	img,
	.icon,
	.emoji {
		width: getVar(s2);
		height: getVar(s2);
		font-size: getVar(s2);
	}
}
.l-square.lg {
	width: getVar(s4);
	height: getVar(s4);
	img,
	.icon,
	.emoji {
		width: getVar(s3);
		height: getVar(s3);
		font-size: getVar(s3);
	}
}
.l-square.xl {
	width: getVar(s5);
	height: getVar(s5);
	img,
	.icon,
	.emoji {
		width: getVar(s4);
		height: getVar(s4);
		font-size: getVar(s4);
	}
}
