.l-wrapper {
	margin-left: auto;
	margin-right: auto;
}

.l-wrapper {
	max-width: calc(100% - calc(2 * getVar(gap))); // width of parent minus base padding
}

.l-wrapper.u-side {
	max-width: getVar(sidebar-width-lg); // TODO : generate (selector + style) by size
}
