button {
	width: auto;
	font-weight: 500;
	color: getVar(font-color-body);
	background-color: getVar(color-light);
}

button:disabled {
	color: getVar(gray-3);
}

button:not(:disabled):active {
	color: getVar(font-color-body);
	background-color: getVar(color-light);
}

.primary {
	border-color: getVar(primary);
	background-color: getVar(primary);
	color: getVar(color-light);
}

.accent {
	border-color: getVar(accent);
	background-color: getVar(accent);
	color: getVar(color-white);
}

.secondary {
	border-color: getVar(primary);
	background-color: getVar(color-white);
}

.accent {
	border-color: getVar(accent);
	background-color: getVar(accent);
	color: getVar(color-white);
}

.secondary.accent {
	border-color: getVar(secondary);
	color: getVar(accent);
	background-color: getVar(color-white);
}

.primary:disabled,
.secondary:disabled {
	background-color: getVar(color-light);
}

.link {
	border: none;
	background-color: inherit;
	padding: 0 getVar(padding-xs);
	color: getVar(primary);
}
