button {
	width: auto;
	font-weight: 500;
	color: getVar(font-color-body);
	background-color: getVar(color-light);
}

button:disabled {
	color: getVar(gray-3);
}

button:not(:disabled):active {
	color: getVar(font-color-body);
	background-color: getVar(color-light);
}

.primary {
	border-color: getVar(primary);
	background-color: getVar(primary);
	color: getVar(color-light);
}

.accent {
	border-color: getVar(accent);
	background-color: getVar(accent);
	color: getVar(color-white);
}

.highlight {
	border-color: getVar(highlight);
	background-color: getVar(highlight);
	color: getVar(color-dark);
}

.outline {
	border-color: getVar(primary);
	background-color: getVar(color-white);
}

.outline.accent {
	border-color: getVar(accent);
	color: getVar(color-dark);
	background-color: getVar(color-white);
}

.outline.highlight {
	border-color: getVar(highlight);
	color: getVar(color-dark);
	background-color: getVar(color-white);
}

.primary:disabled,
.outline:disabled {
	background-color: getVar(color-light);
}

.link {
	padding: 0 getVar(padding-xs);
	border: none;
	background-color: transparent;
	color: getVar(primary);
}

// == Size button in relation to container
// TODO: check container queries for this

.xxs button,
.xs button {
	font-size: getVar(font-size-xs);
	padding: getVar(padding-xs) getVar(padding-sm);
}

.sm button {
	font-size: getVar(font-size-sm);
	padding: getVar(padding-sm) getVar(padding-md);
}

.md button {
	font-size: getVar(font-size-md);
	padding: getVar(padding-md) getVar(padding-lg);
}

.lg button {
	font-size: getVar(font-size-lg);
	padding: getVar(padding-lg) getVar(padding-xl);
}

.xl button {
	font-size: getVar(font-size-xl);
	padding: getVar(padding-xl) getVar(padding-xxl);
}
