.fieldset {
	// @include layout-fieldset();
	border-radius: 3px;
	border: 1px solid currentColor;
	max-width: 100%;
	> legend {
		font-weight: bold;
	}
}

.fieldset > * {
	max-width: 100%;
}

fieldset.nul {
	> * + * {
		margin-block-start: 0;
	}
}
