form {
	padding-left: getVar(gap);
	padding-right: getVar(gap);
}

label,
.feedback {
	font: menu;
	display: block;
}

input,
button,
select,
textarea {
	font: menu;
	border: 1px solid getVar(gray-1);
	border-radius: getVar(radius-base);
}

input,
button:not(.link),
select,
textarea {
	padding: getVar(padding-md);
}

[disabled] {
	color: getVar(gray-1);
	cursor: not-allowed;
}
