header {
	display: flex;
}

body > header {
	justify-content: space-between;
}

main > header {
	justify-content: center;
}
body > header + *,
main > header + * {
	margin-block-start: calc(getVar(fluid-1) / getVar(ratio));
}

body > header.l-sidebar .l-sidebar-main {
	min-inline-size: 55%;
}

body > header.l-sidebar .l-sidebar-side {
	flex-basis: getVar(sidebar-width-xs);
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-left: getVar(gap);
	padding-right: getVar(gap);
}

@include min-width(bp-md) {
	body > header.l-sidebar .l-sidebar-side {
		flex-basis: getVar(sidebar-width-md);
	}
}
