header {
	display: flex;
}

.header-main {
	align-items: baseline;
}

.header-app + *,
.header-main + * {
	margin-block-start: calc(getVar(gap) / 2);
}

//== App header

// .header-app {
// 	justify-content: space-between;
// }

.header-app > .l-sidebar-main {
	min-inline-size: 55%;
}

.header-app > .l-sidebar-side {
	flex-basis: getVar(sidebar-width-xs);
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-left: getVar(gap);
	padding-right: getVar(gap);
}

@include min-width(bp-md) {
	.header-app > .l-sidebar-side {
		flex-basis: getVar(sidebar-width-lg);
	}
}

//== Pages

.home header {
	justify-content: center;
}
