// @import '../main.scss';

// .nav {
// 	@include layout-header();
// }

menu {
	display: flex;
	justify-content: stretch;
	--background: rgba(255, 255, 255, 0.7);
	padding: 0;
}

menu.l-stack {
	padding: 0;
}

menu.l-stack button {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
