/* == Center main content == */

/* Use Center class without a size to set a full width with default padding */
[class*='l:center'] {
	--max-width-center: calc(100% - calc(2 * var(--gap)));
	margin-left: auto;
	margin-right: auto;
}

/* Use Center class without a size to set a full width with default padding */
[class*='l:center:'] {
	--max-width-center: calc(100% - calc(2 * var(--current-size-inverse)));
	max-width: var(--max-width-center); /* width of parent minus base padding */
}
