[class*='size:'] {
	--ratio: var(--size-ratio-md);
	/* Default range */
	--ui-size-sm: calc(var(--ui-size) / var(--ratio));
	--ui-size-lg: calc(var(--ui-size) * var(--ratio));
}
/* Minor range */
[class*='size:'].scale\:minor {
	--ratio: var(--size-ratio-sm);
}
/* Major range */
[class*='size:'].scale\:major {
	--ratio: var(--size-ratio-lg);
}
.size\:2xs {
	/* Base size */
	--ui-size: var(--scale-base-03);
	--font-size: var(--font-size-xs) / var(--fluid-min-ratio);
}
.size\:xs {
	/* Base size */
	--ui-size: var(--scale-base-02);
	--font-size: var(--font-size-xs);
}
.size\:sm {
	/* Base size */
	--ui-size: var(--scale-base-01);
	--font-size: var(--font-size-sm);
}
.size\:md {
	/* Base size */
	--ui-size: var(--scale-base-00);
	--font-size: var(--font-size-md);
}
.size\:lg {
	/* Base size */
	--ui-size: var(--scale-base-10);
	--font-size: var(--font-size-lg);
}
.size\:xl {
	/* Base size */
	--ui-size: var(--scale-base-20);
	--font-size: var(--font-size-xl);
}
.size\:2xl {
	/* Base size */
	--ui-size: var(--scale-base-30);
	--font-size: var(--font-size-2xl);
}
