.l-cover {
	display: flex;
	flex-direction: column;
}

.l-cover > * {
	margin-block: 1rem;
}

.l-cover > .u-main {
	margin-block: auto;
}

.l-cover > :first-child:not(.u-main) {
	margin-block-start: 0;
}

.l-cover > :last-child:not(.u-main) {
	margin-block-end: 0;
}
