.bg-light {
	color: getVar(color-dark);
	background-color: getVar(color-white);
}

.bg-dark {
	color: getVar(color-light);
	background-color: getVar(color-dark);
}

//== Primary / Accent / Highlight colors: Links, buttons & utility class

.bg-light button:not(.link) {
	color: getVar(color-dark);
	background-color: getVar(color-light);
	border-color: getVar(primary-lighter);
}

.bg-dark button:not(.link) {
	color: getVar(color-white);
	background-color: getVar(gray-5);
	border-color: getVar(primary-light);
}

.bg-light .link {
	color: getVar(primary);
}

.bg-dark .link {
	color: getVar(primary-light);
}

.bk-dark :visited,
.bk-dark .link:visited {
	color: getVar(primary-light);
}

.bk-light a:visited,
.bk-light .link:visited {
	color: getVar(primary-light);
}

.bg-light .primary,
.bg-light button.primary {
	color: getVar(color-white);
	background-color: getVar(primary);
	border-color: getVar(primary);
}

.bg-dark .primary,
.bg-dark button.primary {
	color: getVar(color-dark);
	background-color: getVar(primary-light);
	border-color: getVar(primary-light);
}

.bg-light .outline,
.bg-light button.outline {
	color: getVar(primary);
	background-color: getVar(color-white);
	border-color: getVar(primary);
}

.bg-dark .outline,
.bg-dark button.outline {
	color: getVar(color-white);
	background-color: getVar(color-dark);
	border-color: getVar(primary-light);
}

.bg-light .accent,
.bg-light button.accent,
.bg-dark button.accent {
	color: getVar(color-white);
	background-color: getVar(accent);
	border-color: getVar(accent);
}

.bg-light .highlight,
.bg-light button.highlight,
.bg-dark button.highlight {
	color: getVar(color-dark);
	background-color: getVar(highlight);
	border-color: getVar(highlight);
}

.bg-light .accent.outline,
.bg-light button.accent.outline {
	color: getVar(color-dark);
	background-color: getVar(color-white);
	border-color: getVar(accent);
}

.bg-dark .accent.outline,
.bg-dark button.accent.outline {
	color: getVar(color-white);
	background-color: getVar(gray-5);
	border-color: getVar(accent);
}

.bg-light .highlight.outline,
.bg-light button.highlight.outline {
	color: getVar(color-dark);
	background-color: getVar(color-white);
	border-color: getVar(highlight);
}

.bg-dark .highlight.outline,
.bg-dark button.highlight.outline {
	color: getVar(color-white);
	background-color: getVar(gray-5);
	border-color: getVar(highlight);
}

//== Header, Navs, Menus

.bg-dark > header {
	color: getVar(color-light);
	background: getVar(gray-5);
}
.bg-light > header {
	color: getVar(primary);
	background: getVar(color-white);
}

header menu.bg-dark {
	background: getVar(gray-5);
}
header menu.bg-light {
	background: getVar(color-white);
}

.bg-dark .u-main > nav a:hover {
	color: getVar(primary-light);
}
.bg-light .u-main > nav a:hover {
	color: getVar(gray-5);
}

.bg-dark .u-main > nav li.active a {
	color: getVar(primary-lighter);
}
.bg-light .u-main > nav li.active a {
	color: getVar(gray-5);
}

.bg-dark .u-main > nav li.active::before {
	border-top: var(--size) solid getVar(primary-lighter);
}
.bg-light .u-main > nav li.active::before {
	border-top: var(--size) solid getVar(gray-4);
}
//== Errors

.bg-light .error {
	color: getVar(danger);
}

.bg-light .error:focus {
	outline-color: getVar(danger);
}

.bg-dark .error {
	color: getVar(danger-light);
}

.bg-dark .error:focus {
	outline-color: getVar(danger-light);
}

//== shadows

.bg-light .layer {
	box-shadow: getVar(shadow);
}
.bg-dark .layer {
	box-shadow: getVar(shadow-light);
}

.bg-light .l-frame {
	background-color: getVar(color-light);
}
.bg-dark .l-frame {
	background-color: getVar(color-light);
}

.accent > a {
	color: getVar(color-white);
}

.primary > a {
	color: getVar(primary-lighter);
}

.highlight > a {
	color: getVar(color-dark);
}

input,
select,
textarea {
	color: getVar(color-dark);
}

.bg-dark button:hover,
.bg-light button:hover {
	color: getVar(gray-4);
	background-color: getVar(color-white);
}
.bg-dark button.primary:hover,
.bg-light button.primary:hover {
	color: getVar(gray-4);
	background-color: getVar(primary-lighter);
}
.bg-dark button.accent:hover,
.bg-light button.accent:hover {
	color: getVar(gray-4);
	background-color: getVar(accent-lighter);
}
.bg-dark button.highlight:hover,
.bg-light button.highlight:hover {
	color: getVar(gray-4);
	background-color: getVar(highlight-lighter);
}
.bg-dark button.link:hover {
	color: getVar(color-light);
	background-color: inherit;
}

.bg-dark button:disabled,
.bg-light button:disabled,
.bg-dark button.primary:disabled,
.bg-dark button.accent:disabled,
.bg-dark button.highlight:disabled {
	color: getVar(color-light);
	background-color: getVar(gray-4);
}
.bg-light button.primary:disabled,
.bg-light button.accent:disabled,
.bg-light button.highlight:disabled {
	color: getVar(gray-4);
	background-color: getVar(color-light);
}
.bg-dark button.link:disabled {
	color: getVar(color-light);
}
.bg-light button.link:disabled {
	color: getVar(gray-4);
}
