@include theme-main();

// Global CSS starts

:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
}

body {
	font-weight: getVar('300');
	line-height: getVar(ratio);
}

h1,
h2,
h3 {
	line-height: 1.2;
}

h1 {
	font-size: getVar('700');
}

h2,
h3 {
	font-size: getVar('600');
}

a,
.link {
	// color: currentColor;

	color: getVar(play);
}

a,
.link {
	color: getVar(play);
	text-decoration: none;
}

a:hover,
.link:hover {
	text-decoration: underline;
}

a:visited,
.link:visited {
	color: getVar(handles);
}

table {
	border-collapse: collapse;
}

th {
	text-align: left;
}

:focus {
	outline: 2px dotted;
	outline-offset: 0.25rem;
}
