@include theme-main();

// Global CSS starts

:root {
	font-family: getVar(font-family-body);
}

body {
	font-weight: getVar(font-size-base);
	line-height: getVar(ratio);
	color: getVar(font-color-body);
}

h1,
h2,
h3 {
	line-height: 1.2;
}

h1 {
	font-size: getVar(font-size-h1);
}
h2 {
	font-size: getVar(font-size-h2);
}
h3 {
	font-size: getVar(font-size-h3);
}
h4 {
	font-size: getVar(font-size-h4);
}
h5 {
	font-size: getVar(font-size-h5);
}

a,
.link {
	// color: currentColor;

	color: getVar(play);
}

a,
.link {
	color: getVar(play);
	text-decoration: none;
}

a:hover,
.link:hover {
	text-decoration: underline;
}

a:visited,
.link:visited {
	color: getVar(primary-light);
}

table {
	border-collapse: collapse;
}

th {
	text-align: left;
}

:focus {
	outline: 1px dotted getVar(primary);
	outline-offset: getVar(outline-offset);
}

.no-list {
	list-style: none;
	padding-left: 0;
}

// Strech page

body main {
	min-height: calc(100vh - 200px);
}
