form {
	font: menu;
	// @include layout-form();
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: getVar(padding-md);
	border: 1px solid getVar(gray-1);
	border-radius: getVar(radius-base);
}

input:disabled {
	color: getVar(gray-1);
}
