label {
	font: menu;
	display: block;
}

input,
button,
select,
textarea {
	font: menu;
	padding: getVar(padding-md);
	border: 1px solid getVar(gray-1);
	border-radius: getVar(radius-base);
}

[disabled] {
	color: getVar(gray-1);
	cursor: not-allowed;
}
