@import '../config/main.scss';

label {
  font: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: getVar(margin-sm) getVar(margin-xs) getVar(margin-sm);
  width: 100%;
  max-width: 100%;
}

input {
  margin: getVar(margin-xs) 0;
  width: 100%;
}