.scene {
	grid-area: 'scene';
}

.context {
	grid-area: 'context';
}

.l\:grid\:sketch {
	grid-template-areas:
		'scene'
		'context';
}

.l\:grid\:sketch > .scene {
	grid-area: scene;
}

.l\:grid\:sketch > .context {
	grid-area: context;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
