[class*='state:'].canvas {
	--current-border-color: var(--current-primary-light, var(--color-neutral));
	border: var(--border-width) dotted var(--current-border-color);
}

.scene {
	position: relative;
}

.state\:play {
	background-color: var(--current-polar);
}

.state\:pause,
.state\:feedback,
.state\:clear {
	background-color: var(--current-bg-color);
}

.state\:clear {
	--current-border-color: var(--current-primary, var(--color-neutral));
	display: flex;
	align-items: center;
	justify-content: center;
	/* Hide the canvas without changing its dimensions */
	max-width: 100%;
	overflow-x: hidden;
}

.state\:clear canvas {
	margin-right: -100%; /* Hide the canvas without changing its dimensions */
}

.state\:play::before,
.state\:pause::before {
	height: fit-content;
	position: absolute;
	top: 0;
	left: 0;
	padding: var(--ui-size);
	line-height: 1;
}

.state\:warning::before,
.state\:error::before {
	display: none;
}

.state\:clear::before {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: calc(var(--fluid-4) * 5);
}

.scene .feedback {
	position: absolute;
	top: 0;
	left: 0;
	margin: var(--ui-size-lg);
	height: fit-content;
	width: calc(100% - 2 * var(--ui-size-lg));
	max-height: calc(100% - 2 * var(--ui-size-lg));
	overflow: scroll;
}
