.header {
	grid-area: 'header';
}
.footer {
	grid-area: 'footer';
}
.content {
	grid-area: 'content';
}
.navs {
	grid-area: 'navs';
}
.actions {
	grid-area: 'actions';
}

.l\:grid\:flex\:areas\:base {
	grid-template-areas:
		'navs'
		'header'
		'actions'
		'footer';
}

@media screen and (min-width: 768px) {
	.l\:grid\:flex\:areas\:base {
		grid-template-areas:
			'navs			.......	.......'
			'.......	header	.......'
			'.......	content	actions'
			'.......	footer	.......';
	}
}

@media screen and (min-width: 992px) {
	/* no grid support? */
	.sidebar {
		float: left;
		width: 19.1489%;
	}

	.content {
		float: right;
		width: 79.7872%;
	}

	.l\:grid\:flex\:areas\:base {
		margin: 0 auto;
		grid-template-columns: 1fr 3fr;
	}

	.header,
	.footer {
		grid-column: 1 / -1;
		/* needed for the floated layout fallback */
		clear: both;
	}

	.l\:grid\:flex\:areas\:base {
		grid-template-areas:
			'navs	header	.......	actions'
			'navs content	.......	actions'
			'navs footer	.......	.......';
	}
}

// TODO fix magic bp
@media screen and (min-width: 935px) {
	[class^='l:flex:grid'] .l\:side {
		grid-area: 'navs';
	}

	[class^='l:flex:grid'] .l\:main {
		grid-area: 'header';
	}

	[class^='l:flex:grid'] {
		display: grid;
		grid-template-areas: 'navs content';
	}
}
