// Flex layout fallback
[class*='l:grid'] {
	display: flex;
	flex-wrap: wrap;
}

[class*='l:grid'] {
	display: grid;
	grid-gap: var(--gap);
}

// Basic grid that will automatically create columns if space is available for given column dimensions: between var(--current-side-size) and 100% of available width
@supports (width: min(var(--current-side-size), 100%)) {
	[class*='l:grid'] {
		grid-template-columns: repeat(auto-fill, minmax(min(var(--current-side-size), 100%), 1fr));
	}
}

[class*='l:grid'] > * {
	/* needed for the flex layout fallback */
	margin-bottom: var(--gap);
}

/* We set the margins to 0 and use gap in grid */
@supports (display: grid) {
	[class*='l:grid'] > * {
		width: auto;
		margin: 0;
	}
}
