/* Set all parents to full height */
html,
body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {
	height: 100%;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	top: 26vh;
	background-position: center 30vh;
	background-repeat: no-repeat;
	background-size: contain;
}

@media screen and (min-width: 800px) {
	.cbp-fbscroller section {
		top: 18vh;
		background-position: center 20vh;
	}
}

@media screen and (min-width: 1200px) {
	.cbp-fbscroller section {
		top: 10vh;
		background-position: center 10vh;
	}
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}

#fbsection0 {
	background-image: url(../images/fat-fuzzy/Fat-Fuzzy-1.png);
}
#fbsection1 {
	background-image: url(../images/fat-fuzzy/Fat-Fuzzy-2.png);
}
#fbsection2 {
	background-image: url(../images/fat-fuzzy/Fat-Fuzzy-3.png);
}
#fbsection3 {
	background-image: url(../images/fat-fuzzy/Fat-Fuzzy-4.png);
}
#fbsection4 {
	background-image: url(../images/fat-fuzzy/Fat-Fuzzy-5.png);
}
