button {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	min-width: max-content;
	font-size: var(--current-font-size);
	font-family: var(--current-font-family);
	font-weight: var(--font-weight-ui);
	line-height: var(--line-height-ui);
	padding: var(--current-size) var(--current-size-plus); /* Fluid padding will adjust according to closest size class (on self or ancestor) */
	border-radius: var(--radius-base);
	color: var(--ink);
	background-color: var(--shade);
	border: var(--border-width) solid var(--current-button-border);
}

button:not([disabled]):hover {
	box-shadow: var(--current-shadow);
}
