p + details {
	margin-block-start: var(--current-size-plus);
}

details > summary {
	cursor: pointer;
	display: block;
	color: var(--color-light);
	font-weight: var(--font-weight-ui);
	border: var(--border-width) solid var(--current-border-color);
	padding: var(--current-size-minus);
	max-width: 100%;
	background-color: var(--current-color);
	margin-block-end: var(--current-size-plus);
}

details > summary:hover {
	box-shadow: var(--current-shadow);
	background-color: var(--current-polar);
	border: var(--border-width) solid var(--current-border-color);
}

.night summary {
	color: var(--color-dark); /* TODO: fix color contrast pairs */
}

.night summary:hover {
	color: var(--color-light);
}

details > summary > h1, /* TODO: not sure h1 inside detail is a good  */idea, check
details > summary > h2,
details > summary > h3,
details > summary > h4 {
	display: inline-block;
}

details > summary::before {
	content: '👉';
	margin-inline: var(--s-1);
}

details > p {
	/* TODO */
}

details[open] > summary {
	color: var(--current-color);
	background-color: var(--current-bg-contrast);
	border: var(--border-width) solid var(--current-border-color);
}

.night details[open] > summary {
	color: var(--color-light); /* TODO: fix color contrast pairs */
}

.night.blend details[open] > summary {
	color: var(--color-light); /* TODO: fix color contrast pairs */
	background-color: var(--current-polar); /* TODO: fix color contrast pairs */
}

.day.contrast details[open] > summary {
	color: var(--color-dark); /* TODO: fix color contrast pairs */
}

details[open] > summary::before {
	content: '👇';
	margin-inline: var(--s-1);
}

.night,
.day {
	/* same as .bg\:primary\:light */
	details[open] > summary.bg\:primary {
		color: var(--color-dark);
		background-color: var(--current-primary-light);
	}

	/* same as .bg\:accent\:light */
	details[open] > summary.bg\:accent {
		color: var(--color-dark);
		background-color: var(--current-accent-light);
	}

	/* same as .bg\:highlight\:light */
	details[open] > summary.bg\:highlight {
		color: var(--color-dark);
		background-color: var(--current-highlight-light);
	}
}

/* Stops menu from changing width on open/close - TODO: investigate */
.l\:burrito\:xxs summary {
	inline-size: var(--sidebar-width-xxs);
}

/* Stops menu from changing width on open/close - TODO: investigate */
.l\:burrito\:xs summary {
	inline-size: var(--sidebar-width-xs);
}

/* Stops menu from changing width on open/close - TODO: investigate */
.l\:burrito\:sm summary {
	inline-size: var(--sidebar-width-sm);
}

/* Stops menu from changing width on open/close - TODO: investigate */
.l\:burrito\:md summary {
	inline-size: var(--sidebar-width-md);
}

/* Stops menu from changing width on open/close - TODO: investigate */
.l\:burrito\:lg summary {
	inline-size: var(--sidebar-width-lg);
}

/* Stops menu from changing width on open/close - TODO: investigate */
.l\:burrito\:xl summary {
	inline-size: var(--sidebar-width-xl);
}

/* Stops menu from changing width on open/close - TODO: investigate */
.l\:burrito\:xxl summary {
	inline-size: var(--sidebar-width-xxl);
}
