.tags {
	list-style: none;
	padding: 0;
}

.tags li {
	color: var(--current-color);
	text-align: center;
	border-radius: var(--radius-lg);
	font-family: var(--font-family-ui);
	font-weight: var(--font-weight-ui);
	font-size: var(--current-font-size);
}
